SynGenes/
output/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
splace_env/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.log

# Output directories (User specific)
splace_output/
input_files/

# IDEs
.vscode/
.idea/

# Benchmark
benchmark.tsv

# System
.DS_Store
Thumbs.db

SPLACE_v2.py
SPLACE_v3.py
*.ipynb
beachmark.py
*.sif
datasets/
*-cwd
.pytest_cache
# Flutter
.flutter-plugins
cp/
results*/

# Arquivos e pastas gerais
.DS_Store
.idea/
.vscode/
*.iml

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Logs
*.log

# Android
android/.gradle/
android/local.properties
android/**/key.properties
android/**/keystore.jks
android/**/keystore.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
.build/
firebase-debug.log

# Coverage / testes
coverage/

# Arquivos temporários
*.swp
*~
splace_app/
electron/node_modules/
datasets/
Dockerfile/
test_singularity.sh
*.fasta